.container{
    margin-top: 24px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 1280px) {
    .container{
        margin-top: 44px;
        flex-direction: row;
        margin-bottom: 80px;
        gap: 40px;
    }
}
